


/* Notifications */
output {
  float: none;
  margin: 20px;
  padding: 10px;
  border-width: 3px;
  border-style: solid;
}
output.success {
  border-color: green;
  color: darkgreen;
}

output.fail {
  border-color: red;
  color: darkred;
}

output.fail:before {
  content: "⚠️";
}

output.success:before {
  content: "🆗"
}

a.logout-link {
  padding-left: 1em;
}

.tt {
  font-family: 'Consolas', 'Lucida Console', 'Courier New', Courier, monospace;
}

h1 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.5em;
}